<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505523065595-2ra4pb2etno2bn8t62o1qal9h911p1lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505523065595-2ra4pb2etno2bn8t62o1qal9h911p1lr</string>
	<key>API_KEY</key>
	<string>AIzaSyAxlrIuVgRFIiKIeQ6RA40kSM6BjFMJ6_M</string>
	<key>GCM_SENDER_ID</key>
	<string>505523065595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-36c7a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-36c7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505523065595:ios:e6a6e9aa552d7dd716565e</string>
</dict>
</plist>